*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}
ul{
    list-style-type: none; 
    padding-left: 0
}
body{
    min-height: 100vh;
    flex-direction: column;;
    margin: 0;
    background-color: rgb(255, 0, 128);
}
#popularProd{
    font-size: 1cm;
    background-color: rgba(255, 255, 255,0.7);
}
#itemList{
    color: rgb(152, 0, 0);
}
.card:hover{
    background-color: wheat;
    border-radius: 11%;
}
.card h1::first-letter{
    background-color: black;;
    color: white;
    font-size: 0.5in;
    border-radius: 20%;
}
.card img{
    width: 260px;
    margin: 0;
    padding: 0;
}
.card p::first-letter{
    color: rgba(0, 0, 0, 0.754);
    font-size: 8mm;
}
.card p{
    padding: 0;
    margin: 0 10px 25px 10px;
}
.container > h1{
    margin-bottom: 0;
}
.product{
    margin: 70px 20px;
    width: 40%;
    position: relative;
}
.product img{
    width: 50%;
    height: auto;
}

.detail{
    width: 60%;
    position: relative;
    background-color: rgba(107, 200, 14,0.8);
    padding: 20px 30px;
    margin-right: 100px;
    
}
li img{
    position:absolute;
    left: 10%;width: 70px;
}
li p{
    padding: 15px 0;
}
footer{
    justify-content: space-evenly;
    background-color: rgb(107, 200, 14);;
    width: 100%;
    font-size: 25px;
    margin-top: auto;
}