* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  h1,h6 {
    margin-bottom: 30px;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
  }

  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size:large;
  }
  button,a{
    text-decoration: none;
    background-color: green;
    color: white;
        border: 1px solid black;
  }
  .subscription,.service > h3{
    text-align: center;
    font-size: 25px;
    
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 10px;
  }

  .container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    
  }
  .containers{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    
    
  }

  .containers> div {
    margin: 10px;
    padding: 20px;
  }
  .container> div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .con_img{
    width: 100px;
    margin: 0 70px 0 70px;
  }
  .adele{
    border: 2px solid black;;
  }
  .adele > h2{
    font-size: 25px;
    margin-bottom: 10px;
  }
.album_img{
    width: 150px;
    align-items: center;;
}
  .my_img{
    width: 250px;
    height: auto;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
  }

  .a_tag{
    text-decoration: none;
    border: 1px solid turquoise;
  }

  .con_img{
    width: 100px;
    margin: 0 70px 0 70px;
  }
  .about,.about2{
    font-size: 20px;
    margin: 5px;
    background-color: rgb(194, 237, 251);
    align-items: left   ;
    position: relative;
    right: 250px;
    border-radius: 3%;
  }
  .about1,.about3{
    position: relative;
    font-size: 20px;
    margin: 5px;
    background-color: lightcyan;
    left: 250px;
    border-radius: 3%;
  }
  .card{
    border: 3px solid lightgray;
    padding: 5px 2px 5px 2px;
    box-shadow: 3px 3px 3px 3px gray;
  }
  .myname{
    text-align: center   ;
    color: white;
    background-color: lightskyblue;
    font-weight: 900;
    position: relative;
    bottom: 22px;
  }
  .mypremium{
    text-align: center   ;
  }
  .myemail{
    text-align:left;
font-weight: 700;
    color: white;
    background-color: lightcoral;
  }
  .mytelephone{
    text-align:right;
font-weight: 700;
    color: white;
    background-color: lightsalmon;
  }

  table,th,td,tr{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    text-align: center;
    padding: 0 10px 0 10px;
    font-weight: 600;
  }
  th{
    padding: 15px 5px 15px 5px;
  }
  ul{
    padding: 0 15px 0 15px;
  }
  dl{
    text-align: justify;
  }
  li{
    font-size: 13px;
  }
  table{
    width: 100%;
  }
  .price{
    margin: 0;
    padding: 0;
    text-align: center;
    color: lightgreen;
    background-color: black;;
  }